<div class="biokt-cluster" aria-label="Bio-KT research areas">
  <div class="biokt-cluster__core">
    <div class="group-center-logo">
      <img src="{{ "images/groups/biokt.png" | relURL }}" alt="Bio-KT logo">
    </div>
  </div>
  <span class="biokt-cluster__label biokt-cluster__label--top">Biomolecular Recognition</span>
  <span class="biokt-cluster__label biokt-cluster__label--right">Protein Dynamics</span>
  <span class="biokt-cluster__label biokt-cluster__label--bottom">Reactive and Enzymatic Systems</span>
</div>
