<div class="isom-orbit" aria-label="ISoM research areas">
  <div class="isom-orbit__halo isom-orbit__halo--outer"></div>
  <div class="isom-orbit__halo isom-orbit__halo--inner"></div>
  <div class="isom-orbit__core">
    <div class="group-center-logo">
      <img src="{{ "images/groups/iSoM.png" | relURL }}" alt="ISoM logo">
    </div>
  </div>
  <span class="isom-orbit__label isom-orbit__label--top">Ionic Liquids</span>
  <span class="isom-orbit__label isom-orbit__label--right">Soft Interfaces</span>
  <span class="isom-orbit__label isom-orbit__label--bottom">Hybrid Systems</span>
  <span class="isom-orbit__label isom-orbit__label--left">Molecular Modelling</span>
</div>
