<div class="matcat-wheel" aria-label="MatCat research areas">
  <div class="matcat-wheel__outer"></div>
  <div class="matcat-wheel__hub">
    <div class="group-center-logo">
      <img src="{{ "images/groups/matcat2.png" | relURL }}" alt="MatCat logo">
    </div>
  </div>

  <span class="matcat-wheel__label matcat-wheel__label--left">Exotic Matter</span>
  <span class="matcat-wheel__label matcat-wheel__label--right">
    <span>Metal</span>
    <span>Nanoclusters</span>
    <span>on Surfaces</span>
  </span>
  <span class="matcat-wheel__label matcat-wheel__label--bottom">
    <span>Heterogeneous</span>
    <span>Catalysis</span>
    <span>and</span>
    <span>Electrocatalysis</span>
  </span>
</div>
