<div class="polkt-chain polkt-chain--momag" aria-label="MoMag-KT research areas">
  <div class="polkt-chain__backbone"></div>
  <span class="polkt-chain__node polkt-chain__node--one">01</span>
  <span class="polkt-chain__node polkt-chain__node--two">02</span>
  <span class="polkt-chain__node polkt-chain__node--three">03</span>
  <div class="polkt-chain__core">
    <div class="group-center-logo">
      <img src="{{ "images/groups/momag.png" | relURL }}" alt="MoMag-KT logo">
    </div>
  </div>
</div>
