<footer class="site-footer">
  <div class="container footer-row">
    <div>
      <p class="footer-title">Kimika Teorikoa</p>
      <p class="footer-copy">{{ site.Params.footer_note }}</p>
    </div>
    <div class="footer-links">
      <a href="{{ "/" | absURL }}">KT-HOME</a>
      <a href="{{ "matcat/" | absURL }}">MatCat-KT</a>
      <a href="{{ "isom/" | absURL }}">ISoM-KT</a>
      <a href="{{ "polkt/" | absURL }}">Pol-KT</a>
      <a href="{{ "biokt/" | absURL }}">Bio-KT</a>
      <a href="{{ "noft/" | absURL }}">NOFT-KT</a>
      <a href="https://molecular-electronic-structure-group.github.io">MolEleS-KT</a>
      <a href="https://quantchemdev.github.io">QCD-KT</a>
      <a href="https://www.danielreta.com">MoMag-KT</a>
    </div>
  </div>
</footer>
