DirectoryIndex index.html

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /chemistry/theory/

RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^(.+)/$ $1/index.html [L]
</IfModule>
